@import'../fonts/Cairo/stylesheet.css';
*{
    font-family: 'Cairo';

}

.h-heder{

font-weight: 700;
font-size: 30px;
line-height: 56px;
color: #069CE5;

}
.h4_heder{
font-weight: 700;
font-size: 30px;
line-height: 56px;
color: #3E9BA4;
}
.p-heder{
font-weight: 400;
font-size: 24px;
line-height: 56px;
text-align: justify;
letter-spacing: -0.015em;
color: #000000;

}
.banner_h{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(43, 141, 148, 0.31774) 0.01%, #2B8D94 30.21%);
    border-radius: 12px;
}
.banner_h h4{
font-weight: 700;
font-size: 20px;
line-height: 37px;
color: #FFFFFF;
}
.form_bank label{
font-weight: 400;
font-size: 20px;
line-height: 37px;
color: #000000;
}
#bank{
font-weight: 400;
font-size: 20px;
line-height: 37px;
color: #000000;
background: #E9E9E9;
border: 1px solid #3C969C;
border-radius: 8px;
}
.btn_achion{
font-weight: 400;
font-size: 20px;
line-height: 37px;
color: #000000;
background: #E9E9E9;
border: 1px solid #3C969C;
text-decoration: none;
}
.text_persone{
font-weight: 700;
font-size: 30px;
line-height: 56px;

color: #3E9BA4;
}
#submit{
font-weight: 700;
font-size: 20px;
line-height: 37px;
color: #FFFFFF;
background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(43, 141, 148, 0.31774) 0.01%, #2B8D94 30.21%);
border-radius: 12px;
}
.cons{

font-weight: 500;
font-size: 16px;
line-height: 37px;
text-align: justify;
letter-spacing: -0.015em;
color: #069CE5;

}
#inp_text{
    width: 279px;
    height: 50px;
}
.ms_inp_3{
    margin-right: 159px;
}
.ms_inp_2{
    margin-right: 97px;

}
.end{
font-weight: 700;
font-size: 30px;
line-height: 56px;
color: #3E9BA4;
}
#mostafa{
    padding-top: 150px;

}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
